@media screen and (max-width: 460px) {
    header {
        font-size: 3.5vw;
    }
    
    .main-container {
        padding: 1em .5em 1em .5em;
    }

    .profile-pic {
        float: none;
    }

}