/*font import*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Ubuntu&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #3a606e;
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    margin: 1em 1em 1em 0em;
}

footer {
    font-size: .8em;
    padding: 1.5em;
    background-color: white;
    border-radius: 1em;
    margin: 1em 0 .5em 0;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p {
    padding: .5em 
}

nav ul {
    list-style: none;
}

nav ul li:before {
    content: "\00BB \0020";
}

.title-header {
    font-size: 1.8em;
    padding: 1em;
    margin: .5em 0 .5em 0;
    background-color: white;
    border-radius: 1em;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
}

.subheader {
    font-size: 1.3em;
}

.main-container {
    max-width: 960px;
    margin: 1.3em auto .3em auto;
    padding: 1.2em;
    border-radius: 1em;
    background-color: #e0e0e0;
}

.profile-pic {
    float: right;
    margin: 1em 2em 1em 2em;
    border-radius: 1em;
    border-style: solid;

}

/*responsive */
@media screen and (max-width: 460px) {
    .main-container {
        padding: 1em .5em 1em .5em;
    }

    .profile-pic {
        float: none;
    }
}