@media screen and (max-width: 720px) {
    header {
        font-size: 3vw;
    }

    .title-header {
        font-size: 1.5em;
    }

    .main-container {
        min-width: 460px;
    }
    
/*grid styling*/
    main {
        grid-template-columns: 1fr 1fr;
    }

/*images*/
    .med-img {
        width: auto;
    }
}