/* Imports */
@import url('https://fonts.googleapis.com/css?family=Alatsi|Oxygen&display=swap');

/* Variables */
:root {
  --primary-background: #5c5c5c;
  --secondary-background: #3d1308;
  --tertiary-background: #7b0d1e;
  --quartenary-background: #2664a0;
  --white-background: white;
  
  --primary-accent: #7b0d1e;
  --secondary-accent: #2664a0;
  --tertiary-accent: #e5e5e5;

  --primary-text-color: white;
  --secondary-text-color: black;

  --nav-background-hover-color: #b0132b;

  --link-text-inactive-color: white;
  --link-text-hover-color: #007cb9;
  --link-text-visited-color: red;
  --link-text-highlight-color: --secondary-accent;
  
  --default-font: "Oxygen", sans-serif;
  --heading-font: "Alatsi", sans-serif;
}

/* Elements */

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
  transition-duration: 0.4s;
}

a:hover {
  color: var(--link-text-hover-color);
}

body {
  background-color: var(--primary-background);
  color: var(--primary-text-color);
  font-size: 16px;
  font-family: var(--default-font);
}

h1,h2,h3,h4,h5,h6 {
  color: var(--primary-text-color);
  background-color: var(--tertiary-background);
  font-family: var(--heading-font);
  margin: 0;
  padding: .5em .5em;
}

p {
  padding: .5em;
}

header {
  overflow: hidden;
  background-color: var(--secondary-background);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .25em 0 .25em 0;
  min-height: 172px;
}

header>img {
  min-width: 20vw;
  max-width: 128px;
  max-height: 128px;
  padding: .5em;
}

header>section>h1 {
  background-color: var(--secondary-background);
}

nav {
  background-color: var(--tertiary-background);
  margin: .25em 0;
  /* padding: .5em; */
}

nav button {
  color: var(--primary-text-color);
  background-color: var(--tertiary-background);
  border: none;
  width: 100%;
  padding: .5em 0 .5em 0;
  font-size: 1.5em;
}

.nav-active {
  background-color: var(--secondary-background);
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul a {
  display: block;
  text-align: center;
  padding: 1rem;
  transition-duration: 0.4s;
}

nav ul a:hover {
  color: var(--primary-text-color);
  background-color: var(--nav-background-hover-color);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: .5em;
  row-gap: .5em;
  background-color: var(--white-background);
  color: var(--secondary-text-color);
  margin: .25em 0;
}

details {
  padding-bottom: .5em;
}

summary {
  padding: .8em;
  color: var(--primary-text-color);
  background-color: var(--tertiary-background);
  font-family: var(--heading-font);
  margin: 0;
}

details ul {
  margin: .5em 0;
}
details ul li {
  padding: .15em;
}

iframe {
  display: block;
  margin: 30px auto;
  align-items: center;
  width: 70%;
  height: 70%;
}

hr {
  width: 75%;
  margin: 1em auto;
}

footer {
  background-color: var(--secondary-background);
  text-align: center;
  vertical-align: center;
  width: 100%;
  min-height: 75px;
  margin: .25em 0;
}

/* Classes */
.grid {display: grid;}
.flex {display: flex;}
.flex-col {flex-direction: column;}
.flex-row {flex-direction: row;}
.text-center {text-align: center;}

.main-container {
  margin: .25em auto .75em auto;
  min-width: 320px;
  background-color: var(--primary-background);
  max-width: 1000px;
}

.tagline {
  font-size: .8em;
  padding: .2em .5em;
  text-align: center;
}
.navigation li {display: none;}
.responsive li {display: block;}
.hide {display: none;}
.dark-text {color: var(--secondary-text-color);}
.body-link {
  color: var(--link-text-highlight-color);
  text-decoration: underline dotted black;
  transition-duration: 0.4s;
}
.body-link:hover {
  background-color: #2664a0;
  color: var(--primary-text-color);
  text-decoration: none;
}
/* caption container */
.captioned-picture {
  background-color: #5c5c5c;
  border-radius: 20px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  margin: 10px auto 10px auto;
}

.captioned-picture img {
  max-width: 90%;
  margin: 15px auto 10px auto;
}

.captioned-picture p {
  color: var(--primary-text-color);
  text-align: center;
  font-size: .9em;
  padding: 0 0 .8em 0;
}
.contact-logo {
  width: 250px;
  display: block;
  margin: auto;
}
/* form styling */
.form fieldset {
  border: 0;
  margin: 0;
  padding: .5em 0;
}
.form input, textarea, select {
  display: block;
  padding: 10px;
  margin: -1px auto;
  position: relative;
  border: 1px solid #cccccc;
  border-radius: 0;
  box-shadow: inset 0 1px 3px #dddddd;
  width: 90%;
  font: inherit;
  transition-duration: 0.4s;
}
.form label {
  display: block;
  padding: 10px;
  margin: -1px auto -8px auto;
  position: relative;
  width: 90%;
}
.form h3 {
  background-color: var(--quartenary-background);
}
.form input:hover, textarea:hover { box-shadow: inset 0 1px 3px #5c5c5c;}
.form input:active, textarea:active { box-shadow: inset 0 1px 3px #cccccc;}
.form button {
  color: white;
  background-color: var(--quartenary-background);
  display: block;
  padding: 10px;
  margin: -1px auto;
  position: relative;
  border: 1px solid #cccccc;
  border-radius: 0;
  width: 90%;
  font: inherit;
  transition-duration: 0.4s;
}
.form button:hover { background-color: #428ad2;}
.form p {
  width: 90%;
  margin: 0 auto .5em auto;
}
/* quicknav */
.quick-nav {list-style: none;}
.quick-nav li a {display: inline-block; padding: 1em;}
.quick-nav li a:before {content: "\00BB \0020";}