html {
  font-family: sans-serif;
  background-color: #002762;
}

body {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
}

header {
  
  height: 180px;
  overflow: hidden;
  background-color: rgba(50, 50, 50, 50);
}

header>h1 {
  color: white;
  font-weight: bolder;
  margin: 145px auto auto 10px;
}

nav {
  overflow: hidden;
}

nav>a {
  color: blue;
  text-decoration: none;
  padding: 20px;
  margin: auto;
  display: inline-block;
}
nav>a:hover {
  color: #002762;
}

footer {
  text-align: center;
}

section {
  padding: 20px;
}

p {
  line-height: 1.5;
}

.preformatted {
  font-family: monospace;
  font-size: 18px;
}

.lightred {
  color: palevioletred;
}

.lightpurple {
  color: mediumpurple;
}

.image-centered {
  margin: 0 auto;
  width: 100%;
}
