/* CSS Imports */
@import "/css/normalize.css";

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Patua+One&display=swap');

/* Structural */

body {
  background-color: #111827;
  color: white;
  font-size: 16px; /* 1 EM = 16px */
  font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", sans-serif;
}

header {
  overflow: hidden;
  background-color: #253A67;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vw 0;
}

header>img {
  max-width: 2.5em;
  float: left;
  margin: 0 4vw 0 0;
}

header>section>h1 {
  font-size: 6vw;
  margin: .5vw 0 .5vw 0;
}

header>section>span {
  font-size: .8em;
  font-style: italic;
}

.wrapper {
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Navigation */

nav {
  width: 100%;
  display: flex;
  flex-flow: column;
  position: absolute;
  bottom: 0;
}

nav button {
  color: white;
  background: #06090F;
  border: none;
  width: 100%;
  padding: 2em 0 2em 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  background-color: #111827;
}

nav ul a {
  color: white;
  display: block;
  text-align: center;
  padding: .5rem;
}

/* nav pseudoclasses */
nav ul a:hover {
  background-color: #253A67;
}

nav ul a:active {
  background-color: #2C4E99;
}



/* menu toggle */
.navigation li {
  display: none;
}

.responsive li {
  display: block;
}

/* main */
main {

}

/* footer */
footer {
  background-color: #06090F;
  padding: 1em 0 1em 0;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 4em;
  z-index: -1;
}

a {
  text-decoration: none;
}

p {
  
}

/* Colors */

.color-primary-0 { color: #1C2945 }
.color-primary-1 { color: #2C4E99 }
.color-primary-2 { color: #253A67 }
.color-primary-3 { color: #111827 }
.color-primary-4 { color: #06090F }
