@media only screen and (min-width: 476px) {
  /* structure */

  /* header */
  header>img {
    max-width: 5em;
  }
  
  /* navigation */
  nav {
    position: relative;
    bottom: unset;
    z-index: unset;
    width: auto;
    font-size: 14px;
  }

  nav ul {
    flex-direction: row;
  }

  .navigation li {
    display: unset;
    flex: 1 1 100%;
  }

  nav button {
    display: none;
  }
  
  /* footer */
  footer {
    bottom: 0;
    z-index: unset;
    font-size: 14px;
  }  
}