/*font import*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Ubuntu&display=swap');

/*import normalize.css*/
@import "/css/normalize.css";

/* import Cloudi fonts */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Patua+One&display=swap');

/* Structural */
body {
	background-color: #3a606e;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-size: 18px; /* 18px = 1em */
    color: black;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

a {
    color: blue;
    text-decoration: none;
}

footer {
    font-size: .8em;
    padding: 1.5em;
    background-color: white;
    border-radius: 1em;
    margin: 1em 0 .5em 0;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

main {
    max-width: 760px;
    display: grid;
	grid-template-columns: 1fr;
	font-size: 1rem;
}

main section {
    margin: 0.25rem;
    border-radius: 1rem;
	padding: 0 1rem;
	background-color: white;
}

nav ul { 
    list-style: none;
    font-size: 1rem;
    overflow: hidden;
    padding: 0;
}

nav ul a {
    display: block;
    text-align: center;
    padding: .5rem;
    font-size: .95rem;
}

nav a:hover {
    background-color: #454545;
    color: white;
    border-radius: 1em;
}

ul {
    padding: 2px 5px 15px 15px;
    margin: unset;
}

section {
    padding-bottom: 15px;
}

.column-image {
    border-radius: 1em;
    width: 100%;
    border: .2em #bbbbbb;
}

.main-container {
    max-width: 767px;
    margin: 1.3em auto 1.3em auto;
    padding: 1.2em;
    border-radius: 1em;
    background-color: #e0e0e0
}

.subheader {
    font-size: 1.3em; 
}

.title-header {
    font-size: 5vw;
    padding: 1em;
    margin: .5em 0 .5em 0;
    background-color: white;
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
}

/* Colors */

.colors {
    width: 100%;
    margin: auto;
    text-align: center;
}

.colors th {
    color: white;
    background-color: #454545;
    padding: .5em;
}

.colors td {
    padding: .5em
}

.primary {
    background-color: #001f54;
    color: white;
  }

  .secondary {
    background-color: #034078;
    color: white;
  }

  .accent1 {
    background-color: #1282a2;
    color: white;
  }

  .accent2{
    background-color: #fefcfb;
    border: 1px solid black;
  }

  /* Cloudi fonts */

  .cloudi-h {
      font-family: "Patua One", sans-serif;
  }

  .cloudi-p {
    font-family: "IBM Plex Sans", sans-serif;
  }