@media only screen and (min-width: 461px) {
    header {
        font-size: 3vw;
    }
    
    main {
		grid-template-columns: 1fr 1fr;
    }
    
    main section:nth-child(4) {
        grid-column: span 2; 
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }
    
    .span2 {
        grid-column: span 2;
    }

    .title-header {
        font-size: 1.8rem;
        padding: 1em;
        border-radius: 1em;
    }

    .header-logo {
        width: 8vw;
        margin: .8rem .8rem .8rem auto;
    }
}